html,body{
	   		max-width: 960px;
		    background-color: #f6f6f6;
		    margin: 0 auto;
		    font-family: sans-serif;
		    overflow-y: scroll;
	}
	.article{
	padding: 0 20px;
	}
	
	
	h1,h2,h3,h4,.h1,.h2,.h3,.h4,footer{
		 font-family: LondrinaSolid-Regular;
		 font-style: normal;
		 font-weight: 900;	}
	
	
	
	input{
		margin:16px 0 24px;
	}
	
	video{
		border: 1px solid #ddd;
		width: 100%;
		height: 100%;
		background-color: #333;
		margin: 15px 0 20px;
	}
	
	img{
		width:100%;
		margin: 8px 0 20px;

	}
	
	.button{
		margin-top: 10px;
		font-weight: 900;
	}
	
	.btn, .list-group-item{
		font-weight: 900;
	}
	
	.download{
		margin-top: 1.5em;
	}
	
		
	
	/*filebutton*/
	
	.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
	/*button group*/
	
	.btn-group-vertical{
		width: 100%;
		margin: 15px 0;
	}
	
	.btn-group-vertical button{
		text-align: left;
	}
	
	.list-group{
		width: 100%;
	}
	
	#capture2, #output2, #btn-download2{
		display: none;
	}